/*------------------------------------*\
    $PARAGRAPHS
\*------------------------------------*/

.lead{
  font-size: 1.8em;
  margin-bottom: 1.5em;
  font-family: $base-font-family;
}

p{
  color: #444;
  line-height: 1.68;
  margin-bottom: 1.8em;
  font-family: $base-font-family;
  font-size: 1.15rem;
}
