/*------------------------------------*\
    $UTIL
\*------------------------------------*/

/**
 * Base stuff
 */

$base-font-size:    16px!default;
$base-line-height:  24px!default;

/**
 * Base font-family.
 */

$base-font-family:  sans-serif!default;

/**
 * Colors
 */

$brand-color: #5D1C95 !default;
$base-ui-color: #04030F !default;


/**
 * Font sizes
 */

$giga-size:         96px!default;
$mega-size:         72px!default;
$kilo-size:         48px!default;

$h1-size:           60px!default; // .alpha
$h2-size:           45px!default; // .beta
$h3-size:           40px!default; // .gamma
$h4-size:           24px!default; // .delta
$h5-size:           20px!default; // .epsilon
$h6-size:           16px!default; // .zeta

$milli-size:        12px!default;
$micro-size:        10px!default;



/**
 * Grids
 */

$container-width: 1100px!default;
$base-spacing-unit: 24px!default;


/**
 * Responsiveness
 */

$is-responsive: true!default; // Set to false if you want to remove responsiveness

$lap-start:         481px!default;
$desk-start:        1024px!default;
$desk-wide-start:   1200px!default;
