/*------------------------------------*\
    $UTIL
\*------------------------------------*/

/**
 * Base stuff
 */

$base-font-size:    16px!default;
$base-line-height:  24px!default;

/**
 * Base font-family.
 */

$base-font-family:  sans-serif!default;

/**
 * Colors
 */

$brand-color: #5D1C95 !default;
$base-ui-color: #04030F !default;
