/*------------------------------------*\
    $MAIN
\*------------------------------------*/

/**
 * Common
 */

@import "util";


/**
 * Generic
 */

@import "generic/normalize";


/**
 * Base
 */

@import "base/links";


html{
  font: #{($base-font-size/16px)*1em}/#{$base-line-height} $base-font-family;
  overflow-y: scroll;
  min-height: 100%;
}
