<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE]>           <html class="no-js ie-shit"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" prefix="og: http://ogp.me/ns#" lang="{{ site.lang }}">
<!--<![endif]-->

{% include head.html %}

<body {% if page.title %}data-current-page="{{ page.title | downcase | replace:' ','-' }}"{% endif %}>

{% include header.html %}

{% include nav.html %}

<main class="main" role="main">

  {{ content }}

</main>
<!-- /.main -->

{% include footer.html %}

</body>
</html>
